/* default */
.neon {
  /* offset-x */
  --neon_offset-x__base: var(--neon_offset-x, 0px);
  --neon_offset-x__1: calc(1 * var(--neon_offset-x__base));
  --neon_offset-x__2: calc(2 * var(--neon_offset-x__base));
  --neon_offset-x__3: calc(4 * var(--neon_offset-x__base));
  /* offset-y */
  --neon_offset-y__base: var(--neon_offset-y, 0px);
  --neon_offset-y__1: calc(1 * var(--neon_offset-y__base));
  --neon_offset-y__2: calc(2 * var(--neon_offset-y__base));
  --neon_offset-y__3: calc(4 * var(--neon_offset-y__base));

  /* neon tube light */
  --neon_blur__lightest_show: 0.1vw;
  /* neon tube */
  --neon_blur__lighter_show: 0.25vw;
  --neon_blur__lighter_diffuse: 5vw;
  /* neon light */
  --neon_blur__light_show: .1vw;
  --neon_blur__light_diffuse: 2vw;
  /* neon */
  --neon_blur__pure_show: 1vw;
  --neon_blur__pure_diffuse: 5vw;
  --neon_blur__pure_diffuse-1: 5vw;
  --neon_blur__pure_diffuse-2: 20vw;
  --neon_blur__pure_diffuse-3: 10vw;
  --neon_blur__pure_diffuse-4: 10vw;
  --neon_blur__pure_diffuse-5: 30vw;
  --neon_blur__pure_diffuse-6: 10vw;

  /* neon color w/ default hue to blue (240) */
  --neon_hue: 240;
  --neon_saturation: 100%;

  --neon_color__pure_saturation: calc(var(--neon_saturation) - 5%);
  --neon_color__pure: hsl(var(--neon_hue), var(--neon_color__pure_saturation), 50%);
  --neon_color__light: hsl(var(--neon_hue), var(--neon_saturation), 60%);
  --neon_color__lighter: hsl(var(--neon_hue), var(--neon_saturation), 75%);
  --neon_color__lightest: hsl(var(--neon_hue), var(--neon_saturation), 95%, 0.9);
}

/* neon-box */
.neon-box {
  box-shadow:
    /* ---- 0: show neon tube light ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__lightest_show) 0 var(--neon_color__lightest),
    /* ---- 1: show neon tube ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__lighter_show) 0 var(--neon_color__lighter),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__lighter_show) 0 var(--neon_color__lighter),
    /* ---- 1: diffuse neon tube ---- */
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__lighter_diffuse) 0 var(--neon_color__lighter),
    /* ---- 2: show neon light ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__light_show) 0 var(--neon_color__light),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__light_show) 0 var(--neon_color__light),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__light_show) 0 var(--neon_color__light),
    /* ---- 3: diffuse neon light ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__light_diffuse) 0 var(--neon_color__light),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__light_diffuse) 0 var(--neon_color__light),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__light_diffuse) 0 var(--neon_color__light),
    /* ---- 4: show & diffuse neon ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__pure_show) 0 var(--neon_color__pure),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__pure_show) 0 var(--neon_color__pure),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__pure_diffuse) 0 var(--neon_color__pure),

    /* ---- 1: show inset neon tube ---- */
    inset var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__lighter_show) 0 var(--neon_color__lighter),
    inset var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__lighter_show) 0 var(--neon_color__lighter),
    /* ---- 2: show inset neon light ---- */
    inset var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__light_show) 0 var(--neon_color__light),
    inset var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__light_show) 0 var(--neon_color__light),
    inset var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__light_show) 0 var(--neon_color__light),
    /* ---- 4: show & diffuse inset neon ---- */
    inset var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__pure_show) 0 var(--neon_color__pure),
    inset var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__pure_show) 0 var(--neon_color__pure),
    inset var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__pure_diffuse) 0 var(--neon_color__pure);
}

/* neon-text */
.neon-text {
  text-shadow:
    /* ---- 0: show neon tube light ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__lightest_show) var(--neon_color__lightest),
    /* ---- 1: show neon tube ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__lighter_show) var(--neon_color__lighter),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__lighter_show) var(--neon_color__lighter),

    /* ---- 2: show neon light ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__light_show) var(--neon_color__light),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__light_show) var(--neon_color__light),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__light_show) var(--neon_color__light),
    /* ---- 3: diffuse neon light ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__light_diffuse) var(--neon_color__light),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__light_diffuse) var(--neon_color__light),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__light_diffuse) var(--neon_color__light),

    /* ---- 4: show & diffuse neon ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__pure_show) var(--neon_color__pure),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__pure_show) var(--neon_color__pure),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__pure_diffuse) var(--neon_color__pure),
    /* ---- 5: diffuse neon ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__pure_diffuse-1) var(--neon_color__pure),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__pure_diffuse-2) var(--neon_color__pure),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__pure_diffuse-3) var(--neon_color__pure),
    /* ---- 6: diffuse neon ---- */
    var(--neon_offset-x__1) var(--neon_offset-y__1) var(--neon_blur__pure_diffuse-4) var(--neon_color__pure),
    var(--neon_offset-x__2) var(--neon_offset-y__2) var(--neon_blur__pure_diffuse-5) var(--neon_color__pure),
    var(--neon_offset-x__3) var(--neon_offset-y__3) var(--neon_blur__pure_diffuse-6) var(--neon_color__pure);
}

.neon__light-shrink {
  /** divide diffuse by 5 **/
  /* neon tube */
  --neon_blur__lighter_diffuse: 1vw;
  /* neon light */
  --neon_blur__light_diffuse: 0.4vw;
  /* neon */
  --neon_blur__pure_diffuse: 1vw;
  --neon_blur__pure_diffuse-1: 1vw;
  --neon_blur__pure_diffuse-2: 4vw;
  --neon_blur__pure_diffuse-3: 2vw;
  --neon_blur__pure_diffuse-4: 2vw;
  --neon_blur__pure_diffuse-5: 6vw;
  --neon_blur__pure_diffuse-6: 2vw;
}
